@use "../../../sass/partials/variables" as vars;

.expand-icon {
  transition: rotate 0.3s ease, transform 0.2s ease-in-out;
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: map-get(map-get(vars.$themes, "dark"), "button-bg-primary");
  cursor: pointer;
  transition: rotate 0.25s ease-in;
}

.expanded {
  rotate: 180deg;
  transition: rotate 0.25s ease-in;
}
