@use "../../../sass/partials/variables" as vars;

.expand-icon {
  transition: rotate 0.3s ease, transform 0.2s ease-in-out;
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: map-get(map-get(vars.$themes, "dark"), "button-bg-primary");
  cursor: pointer;

  &:hover {
    rotate: 180deg;
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }
}
