@use "../../../sass/partials/variables" as vars;
@use "../../../sass/partials/mixins" as *;

.fantasy-tab {
  display: flex;
  justify-content: center;
  width: fit-content;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--fantasy-red-opaque);
  color: var(--fantasy-red);
  transition: transform 0.05s ease-in-outbackground-color 0.05s ease,
    color 0.05s ease;

  &:active {
    transform: scale(0.985);
  }

  &:hover {
    background-color: var(--fantasy-red);
    color: var(--base);
  }

  &.active {
    width: 100%;
    background-color: var(--accent);
    color: var(--base);
  }
}

.text {
  letter-spacing: 0.06rem;
  line-height: 1.175rem;
  font-size: 1.1rem;
  color: var(--text);

  &.shrunk {
    display: none;
  }
}

.icon {
  @include flex-center;
}
