@use "../../sass/partials/variables" as vars;

.sidenav {
  position: absolute;
  left: 1rem;
  top: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  padding: 1rem;
  width: 5rem;
  border: 1px solid var(--border);
  background-color: var(--base);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out,
    width 0.2s ease-in-out;
  z-index: 10;

  &:hover {
    border: 1px solid var(--border-hover);
  }

  &.expanded {
    width: 15.5rem;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5.5rem;

  &.expanded {
    align-items: flex-start;
    gap: 1rem;
  }
}

.fantasy-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.expanded {
    flex-direction: row;
  }
}

.expand-button {
  color: var(--border-hover);
  background-color: var(--base);
  border-radius: 1.5rem;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--accent-opaque);
  }
}

.divider {
  border: none;
  border-top: 1px solid transparent;
  margin: 0.75rem 0;
  transition: border-color 0.3s ease-in-out;
  border-color: var(--border-hover);
}
