@use "../../sass/partials/variables" as vars;
.sidenav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.3rem;
  padding: 1rem;
}

.logo-container {
  display: flex;
}

.light {
  border: 1px solid var(--opaque-dark);
  background-color: white;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: var(--opaque-dark-hover);
  }
}

.dark {
  border: 1px solid var(--opaque-light);
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: var(--opaque-light-hover);
  }
}
