@use "../../sass/partials/mixins" as *;
@use "../../sass/partials/variables" as vars;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.5rem 1.25rem 2rem 1.25rem;
  margin: 0.5rem 0 0 0;
  z-index: 10;
  min-height: 3rem;
  background-color: var(--base);
  color: var(--text);

  @include respond-to(xs) {
    padding: 2rem 1.5rem;
  }

  @include respond-to(sm) {
    padding: 2.25rem;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  &__mobileMenu {
    z-index: 2;
    @include flex-center;

    @include respond-to(md) {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include respond-to(xs) {
      top: -1.5rem;
    }
  }

  &__nav {
    display: none;

    @include respond-to(md) {
      @include flex-center;
    }
  }

  &__actions {
    display: none;

    @include respond-to(sm) {
      @include flex-center;
    }
  }
}
