@use "../../../sass/partials/mixins" as *;
@use "../../../sass/partials/variables" as vars;
@use "../../../sass/base/typography" as typ;

.button {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: Questrial;
  background: var(--button-bg-primary);

  &:hover {
    background-color: var(--button-bg-primary-hover);
  }
}

// Primary Button
.primary {
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  color: var(--text);

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }
}

// Secondary Button
.secondary {
  background-color: var(--accent);
  color: var(--base);
  border: 2px solid var(--accent-opaque);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
    background-color: var(--accent);
    box-shadow: vars.$button-shadow;
  }

  &:active {
    transform: scale(1);
  }
}
