@use "../../sass/partials/mixins" as *;

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  z-index: 0;
  pointer-events: all;

  @include respond-to(sm) {
    flex-direction: row;
  }

  &__container {
    display: flex;
    margin: 0 1rem;
    flex: 1;
    flex-direction: column;
    border-radius: 0.5rem;
  }

  &__aside-wrapper {
    display: none;

    @include respond-to(sm) {
      @include flex-center;
      margin: 1rem;
      border: 1px solid white;
      border-radius: 0.5rem;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
  }
}

.mobile-aside {
  @include respond-to(sm) {
    display: none;
  }
}
