@use "../../../sass/partials/mixins" as *;
@use "../../../sass/partials/variables" as vars;

.switch {
  border: none;
  cursor: pointer;
  @include flex-center;
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.25rem;
  transition: transform 0.2s ease-in-out;
  color: var(--text);
  background-color: var(--button-bg-primary);

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.05);
  }
}

.icon {
  transform: color 0.3s ease-in-out;
}
