@use "../../../sass/partials/mixins" as *;
@use "../../../sass/partials/variables" as vars;

.navlist-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.expanded {
    align-items: flex-start;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: fit-content;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  gap: 0.5rem;
  min-height: 2.25rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.05s ease-in-out;

  &:active {
    transform: scale(0.985);
  }

  &.light {
    transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;

    &:hover {
      background-color: map-get(
        map-get(vars.$themes, "light"),
        "accent-opaque"
      );
      color: map-get(map-get(vars.$themes, "light"), "accent");
    }
  }

  &.dark {
    transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;

    &:hover {
      background-color: map-get(map-get(vars.$themes, "dark"), "accent-opaque");
      color: map-get(map-get(vars.$themes, "dark"), "accent");
    }
  }

  &.active {
    width: fit-content;

    &.light {
      background-color: map-get(map-get(vars.$themes, "light"), "accent");
      color: map-get(map-get(vars.$themes, "light"), "base");
    }

    &.dark {
      background-color: map-get(map-get(vars.$themes, "dark"), "accent");
      color: map-get(map-get(vars.$themes, "dark"), "base");
    }
  }

  &.expanded {
    align-items: flex-end;
    width: 100%;
    justify-content: flex-start;
  }
}

.title {
  letter-spacing: 0.06rem;
  line-height: 1.175rem;
  margin-bottom: 0.125rem;

  &.shrunk {
    display: none;
  }
}

.icon {
  @include flex-center;
  width: 1.75rem;
  transition: width 0.2s ease-in-out;

  &.expanded {
    transition: width 0.2s ease-in-out;
    width: 1.5rem;
  }
}
