// Global Styles
body {
  font-family: Questrial;
  background-color: var(--base);
  color: var(--text);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 0;
  padding: 0;
}

.widget-container {
  border: 1px solid var(--border);
  border-radius: 0.5rem;

  &:hover {
    border: 1px solid var(--border-hover);
  }
}
